2021년 12월 24일에 마지막으로 실행 확인하였습니다.  
위키독스 '딥 러닝을 이용한 자연어 처리 입문'의 서브워드 텍스트 인코더 튜토리얼입니다.  

링크 : https://wikidocs.net/86792

## **13-03 서브워드텍스트인코더(SubwordTextEncoder)**

SubwordTextEncoder는 텐서플로우를 통해 사용할 수 있는 서브워드 토크나이저입니다. BPE와 유사한 알고리즘인 Wordpiece Model을 채택하였으며, 패키지를 통해 쉽게 단어들을 서브워드들로 분리할 수 있습니다. SubwordTextEncoder를 통해서 IMDB 영화 리뷰 데이터와 네이버 영화 리뷰 데이터에 대해서 토큰화 작업을 수행해봅시다.

### **1. IMDB 리뷰 토큰화하기**

In [2]:
!pip install tensorflow-datasets

Collecting tensorflow-datasets
  Using cached tensorflow_datasets-4.9.6-py3-none-any.whl.metadata (9.5 kB)
Requirement already satisfied: absl-py in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from tensorflow-datasets) (2.1.0)
Requirement already satisfied: click in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from tensorflow-datasets) (8.1.7)
Collecting dm-tree (from tensorflow-datasets)
  Downloading dm_tree-0.1.8-cp310-cp310-win_amd64.whl.metadata (2.0 kB)
Collecting immutabledict (from tensorflow-datasets)
  Using cached immutabledict-4.2.0-py3-none-any.whl.metadata (3.4 kB)
Requirement already satisfied: numpy in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from tensorflow-datasets) (1.26.4)
Collecting promise (from tensorflow-datasets)
  Using cached promise-2.3.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: protobuf>=3.20 in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from tensorflow-datasets) (4.25.3)
Requirement already satisfied: psutil in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from tensorflow-datasets) (5.9.0)
Requirement already satisfied: pyarrow in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from tensorflow-datasets) (17.0.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from tensorflow-datasets) (2.32.2)
Collecting simple-parsing (from tensorflow-datasets)
  Using cached simple_parsing-0.1.5-py3-none-any.whl.metadata (7.7 kB)
Collecting tensorflow-metadata (from tensorflow-datasets)
  Using cached tensorflow_metadata-1.15.0-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: termcolor in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from tensorflow-datasets) (2.4.0)
Collecting toml (from tensorflow-datasets)
  Using cached toml-0.10.2-py2.py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: tqdm in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from tensorflow-datasets) (4.66.4)
Requirement already satisfied: wrapt in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from tensorflow-datasets) (1.16.0)
Collecting etils>=1.6.0 (from etils[enp,epath,epy,etree]>=1.6.0; python_version < "3.11"->tensorflow-datasets)
  Downloading etils-1.7.0-py3-none-any.whl.metadata (6.4 kB)
Collecting fsspec (from etils[enp,epath,epy,etree]>=1.6.0; python_version < "3.11"->tensorflow-datasets)
  Using cached fsspec-2024.6.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: importlib_resources in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from etils[enp,epath,epy,etree]>=1.6.0; python_version < "3.11"->tensorflow-datasets) (6.4.0)
Requirement already satisfied: typing_extensions in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from etils[enp,epath,epy,etree]>=1.6.0; python_version < "3.11"->tensorflow-datasets) (4.11.0)
Requirement already satisfied: zipp in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from etils[enp,epath,epy,etree]>=1.6.0; python_version < "3.11"->tensorflow-datasets) (3.19.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from requests>=2.19.0->tensorflow-datasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from requests>=2.19.0->tensorflow-datasets) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from requests>=2.19.0->tensorflow-datasets) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from requests>=2.19.0->tensorflow-datasets) (2024.7.4)
Requirement already satisfied: colorama in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from click->tensorflow-datasets) (0.4.6)
Requirement already satisfied: six in c:\users\jeong\anaconda3-1\envs\py310\lib\site-packages (from promise->tensorflow-datasets) (1.16.0)
Collecting docstring-parser~=0.15 (from simple-parsing->tensorflow-datasets)
  Using cached docstring_parser-0.16-py3-none-any.whl.metadata (3.0 kB)
Collecting protobuf>=3.20 (from tensorflow-datasets)
  Downloading protobuf-3.20.3-cp310-cp310-win_amd64.whl.metadata (698 bytes)
Using cached tensorflow_datasets-4.9.6-py3-none-any.whl (5.1 MB)
Downloading etils-1.7.0-py3-none-any.whl (152 kB)
   ---------------------------------------- 0.0/152.4 kB ? eta -:--:--
   -- ------------------------------------- 10.2/152.4 kB ? eta -:--:--
   ------------------------------------- -- 143.4/152.4 kB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 152.4/152.4 kB 2.3 MB/s eta 0:00:00
Downloading dm_tree-0.1.8-cp310-cp310-win_amd64.whl (101 kB)
   ---------------------------------------- 0.0/101.3 kB ? eta -:--:--
   ---------------------------------------- 101.3/101.3 kB 5.7 MB/s eta 0:00:00
Using cached immutabledict-4.2.0-py3-none-any.whl (4.7 kB)
Using cached simple_parsing-0.1.5-py3-none-any.whl (113 kB)
Using cached tensorflow_metadata-1.15.0-py3-none-any.whl (28 kB)
Downloading protobuf-3.20.3-cp310-cp310-win_amd64.whl (904 kB)
   ---------------------------------------- 0.0/904.0 kB ? eta -:--:--
   -------------------- ------------------ 471.0/904.0 kB 14.9 MB/s eta 0:00:01
   --------------------------------------- 904.0/904.0 kB 11.5 MB/s eta 0:00:00
Using cached toml-0.10.2-py2.py3-none-any.whl (16 kB)
Using cached docstring_parser-0.16-py3-none-any.whl (36 kB)
Using cached fsspec-2024.6.1-py3-none-any.whl (177 kB)
Building wheels for collected packages: promise
  Building wheel for promise (setup.py): started
  Building wheel for promise (setup.py): finished with status 'done'
  Created wheel for promise: filename=promise-2.3-py3-none-any.whl size=21544 sha256=750ecfe5ce4b16364d0dba0071cb3c83c64af11c2086dec647ca910ecada7583
  Stored in directory: c:\users\jeong\appdata\local\pip\cache\wheels\54\4e\28\3ed0e1c8a752867445bab994d2340724928aa3ab059c57c8db
Successfully built promise
Installing collected packages: dm-tree, toml, protobuf, promise, immutabledict, fsspec, etils, docstring-parser, tensorflow-metadata, simple-parsing, tensorflow-datasets
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.25.3
    Uninstalling protobuf-4.25.3:
      Successfully uninstalled protobuf-4.25.3
Successfully installed dm-tree-0.1.8 docstring-parser-0.16 etils-1.7.0 fsspec-2024.6.1 immutabledict-4.2.0 promise-2.3 protobuf-3.20.3 simple-parsing-0.1.5 tensorflow-datasets-4.9.6 tensorflow-metadata-1.15.0 toml-0.10.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\jeong\anaconda3-1\envs\py310\Lib\site-packages\google\~upb'.
  You can safely remove it manually.

In [3]:
import tensorflow as tf
import tensorflow_datasets as tfds
import urllib.request
import pandas as pd

In [4]:
tf.__version__  # tf 2.17.0  2024.08

'2.17.0'

다운로드한 데이터를 데이터프레임에 저장합니다.

In [5]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/LawrenceDuan/IMDb-Review-Analysis/master/IMDb_Reviews.csv", filename="IMDb_Reviews.csv")

('IMDb_Reviews.csv', <http.client.HTTPMessage at 0x1f16d860550>)

In [6]:
train_df = pd.read_csv('IMDb_Reviews.csv')
train_df

                                                  review  sentiment
0      My family and I normally do not watch local mo...          1
1      Believe it or not, this was at one time the wo...          0
2      After some internet surfing, I found the "Home...          0
3      One of the most unheralded great works of anim...          1
4      It was the Sixties, and anyone with long hair ...          0
...                                                  ...        ...
49995  the people who came up with this are SICK AND ...          0
49996  The script is so so laughable... this in turn,...          0
49997  "So there's this bride, you see, and she gets ...          0
49998  Your mind will not be satisfied by this nobud...          0
49999  The chaser's war on everything is a weekly sho...          1

[50000 rows x 2 columns]

데이터프레임에서 'review'에 해당하는 열이 토큰화를 수행해야 할 데이터입니다.

In [7]:
train_df['review']

0        My family and I normally do not watch local mo...
1        Believe it or not, this was at one time the wo...
2        After some internet surfing, I found the "Home...
3        One of the most unheralded great works of anim...
4        It was the Sixties, and anyone with long hair ...
                               ...
49995    the people who came up with this are SICK AND ...
49996    The script is so so laughable... this in turn,...
49997    "So there's this bride, you see, and she gets ...
49998    Your mind will not be satisfied by this nobud...
49999    The chaser's war on everything is a weekly sho...
Name: review, Length: 50000, dtype: object

tfds.features.text.SubwordTextEncoder.build_from_corpus의 인자로 토큰화 할 데이터를 넣어줍니다. 이 작업을 통해서 서브워드들로 이루어진 단어 집합(Vocabulary)를 생성하고, 각 서브워드에 고유한 정수를 부여합니다.

In [8]:
### pc cpu : 4분
tokenizer = tfds.deprecated.text.SubwordTextEncoder.build_from_corpus(
                            train_df['review'], target_vocab_size=2**13)

.subwords를 통해서 토큰화 된 서브워드들을 확인할 수 있습니다. 100개만 출력해봅시다.

In [11]:
print(tokenizer.subwords[:100])

['the_', ', ', '. ', 'a_', 'and_', 'of_', 'to_', 's_', 'is_', 'br', 'in_', 'I_', 'that_', 'this_', 'it_', ' /><', ' />', 'was_', 'The_', 't_', 'as_', 'with_', 'for_', '.<', 'on_', 'but_', 'movie_', 'are_', ' (', 'have_', 'his_', 'film_', 'not_', 'be_', 'you_', 'ing_', ' "', 'ed_', 'it', 'd_', 'an_', 'at_', 'by_', 'he_', 'one_', 'who_', 'from_', 'y_', 'or_', 'e_', 'like_', 'all_', '" ', 'they_', 'so_', 'just_', 'has_', ') ', 'about_', 'her_', 'out_', 'This_', 'some_', 'movie', 'ly_', 'film', 'very_', 'more_', 'It_', 'what_', 'would_', 'when_', 'if_', 'good_', 'up_', 'which_', 'their_', 'only_', 'even_', 'my_', 'really_', 'had_', 'can_', 'no_', 'were_', 'see_', '? ', 'she_', 'than_', '! ', 'there_', 'been_', 'get_', 'into_', 'will_', ' - ', 'much_', 'n_', 'because_', 'ing']

임의로 선택한 20번 인덱스의 샘플을 출력해보고, 정수 인코딩을 수행한 결과와 비교해보겠습

In [12]:
print(train_df['review'][20])

Pretty bad PRC cheapie which I rarely bother to watch over again, and it's no wonder -- it's slow and creaky and dull as a butter knife. Mad doctor George Zucco is at it again, turning a dimwitted farmhand in overalls (Glenn Strange) into a wolf-man. Unfortunately, the makeup is virtually non-existent, consisting only of a beard and dimestore fangs for the most part. If it were not for Zucco and Strange's presence, along with the cute Anne Nagel, this would be completely unwatchable. Strange, who would go on to play Frankenstein's monster for Unuiversal in two years, does a Lenny impression from "Of Mice and Men", it seems.<br /><br />*1/2 (of Four)

encode()를 통해서 입력한 데이터에 대해서 정수 인코딩을 수행한 결과를 얻을 수 있습니다.

In [13]:
print('Tokenized sample question: {}'.format(tokenizer.encode(train_df['review'][20])))

Tokenized sample question: [1590, 4162, 132, 7107, 1892, 2983, 578, 76, 12, 4632, 3422, 7, 160, 175, 372, 2, 5, 39, 8051, 8, 84, 2652, 497, 39, 8051, 8, 1374, 5, 3461, 2012, 48, 5, 2263, 21, 4, 2992, 127, 4729, 711, 3, 1391, 8044, 3557, 1277, 8102, 2154, 5681, 9, 42, 15, 372, 2, 3773, 4, 3502, 2308, 467, 4890, 1503, 11, 3347, 1419, 8127, 29, 5539, 98, 6099, 58, 94, 4, 1388, 4230, 8057, 213, 3, 1966, 2, 1, 6700, 8044, 9, 7069, 716, 8057, 6600, 2, 4102, 36, 78, 6, 4, 1865, 40, 5, 3502, 1043, 1645, 8044, 1000, 1813, 23, 1, 105, 1128, 3, 156, 15, 85, 33, 23, 8102, 2154, 5681, 5, 6099, 8051, 8, 7271, 1055, 2, 534, 22, 1, 3046, 5214, 810, 634, 8120, 2, 14, 71, 34, 436, 3311, 5447, 783, 3, 6099, 2, 46, 71, 193, 25, 7, 428, 2274, 2260, 6487, 8051, 8, 2149, 23, 1138, 4117, 6023, 163, 11, 148, 735, 2, 164, 4, 5277, 921, 3395, 1262, 37, 639, 1349, 349, 5, 2460, 328, 15, 5349, 8127, 24, 10, 16, 10, 17, 8054, 8061, 8059, 8062, 29, 6, 6607, 8126, 8053]

위의 결과를 decode()로 다시 문장으로~

In [14]:
tokenizer.decode([1590, 4162, 132, 7107, 1892, 2983, 578, 76, 12, 4632, 3422, 7, 160, 175, 372, 2, 5, 39, 8051, 8, 84, 2652, 497, 39, 8051, 8, 1374, 5, 3461, 2012, 48, 5, 2263, 21, 4, 2992, 127, 4729, 711, 3, 1391, 8044, 3557, 1277, 8102, 2154, 5681, 9, 42, 15, 372, 2, 3773, 4, 3502, 2308, 467, 4890, 1503, 11, 3347, 1419, 8127, 29, 5539, 98, 6099, 58, 94, 4, 1388, 4230, 8057, 213, 3, 1966, 2, 1, 6700, 8044, 9, 7069, 716, 8057, 6600, 2, 4102, 36, 78, 6, 4, 1865, 40, 5, 3502, 1043, 1645, 8044, 1000, 1813, 23, 1, 105, 1128, 3, 156, 15, 85, 33, 23, 8102, 2154, 5681, 5, 6099, 8051, 8, 7271, 1055, 2, 534, 22, 1, 3046, 5214, 810, 634, 8120, 2, 14, 71, 34, 436, 3311, 5447, 783, 3, 6099, 2, 46, 71, 193, 25, 7, 428, 2274, 2260, 6487, 8051, 8, 2149, 23, 1138, 4117, 6023, 163, 11, 148, 735, 2, 164, 4, 5277, 921, 3395, 1262, 37, 639, 1349, 349, 5, 2460, 328, 15, 5349, 8127, 24, 10, 16, 10, 17, 8054, 8061, 8059, 8062, 29, 6, 6607, 8126, 8053])

'Pretty bad PRC cheapie which I rarely bother to watch over again, and it\'s no wonder -- it\'s slow and creaky and dull as a butter knife. Mad doctor George Zucco is at it again, turning a dimwitted farmhand in overalls (Glenn Strange) into a wolf-man. Unfortunately, the makeup is virtually non-existent, consisting only of a beard and dimestore fangs for the most part. If it were not for Zucco and Strange\'s presence, along with the cute Anne Nagel, this would be completely unwatchable. Strange, who would go on to play Frankenstein\'s monster for Unuiversal in two years, does a Lenny impression from "Of Mice and Men", it seems.<br /><br />*1/2 (of Four)'

임의로 선택한 짧은 문장에 대해서 정수 인코딩 결과를 확인하고, 이를 다시 역으로 디코딩해보겠습니다. 디코딩 할 때는 인코딩할 때 encode()를 사용한 것과 유사하게 decode()를 통해서 할 수 있습니다.

In [15]:
# train_df에 존재하는 문장 중 일부를 발췌
sample_string = "It's mind-blowing to me that this film was even made."

# 인코딩한 결과를 tokenized_string에 저장
tokenized_string = tokenizer.encode(sample_string)
print ('정수 인코딩 후의 문장 : {}'.format(tokenized_string))

정수 인코딩 후의 문장 : [137, 8051, 8, 910, 8057, 2169, 36, 7, 103, 13, 14, 32, 18, 79, 681, 8058]

In [16]:
# 이를 다시 디코딩
original_string = tokenizer.decode(tokenized_string)
print ('기존 문장 : {}'.format(original_string))

기존 문장 : It's mind-blowing to me that this film was even made.

.vocab_size를 통해 단어 집합의 크기를 확인할 수 있습니다.

In [17]:
print('단어 집합의 크기(Vocab size) :', tokenizer.vocab_size)

단어 집합의 크기(Vocab size) : 8268

현재 단어 집합의 크기는 8,268개입니다. 디코딩 결과를 병렬적으로 나열하여 각 단어와 맵핑된 정수를 확인해봅시다.

In [18]:
tokenized_string

[137, 8051, 8, 910, 8057, 2169, 36, 7, 103, 13, 14, 32, 18, 79, 681, 8058]

In [19]:
for ts in tokenized_string:
  print ('{} ----> {}'.format(ts, tokenizer.decode([ts])))

137 ----> It
8051 ----> '
8 ----> s
910 ----> mind
8057 ----> -
2169 ----> blow
36 ----> ing
7 ----> to
103 ----> me
13 ----> that
14 ----> this
32 ----> film
18 ----> was
79 ----> even
681 ----> made
8058 ----> .

이번에는 기존 예제 문장 중 even이라는 단어에 임의로 xyz라는 3개의 글자를 추가해봤습니다. 현재 토크나이저가 even이라는 단어를 이미 하나의 서브워드로 인식하고 있는 상황에서 나머지 xyz를 어떻게 분리하는지를 확인하기 위함입니다.

In [20]:
sample_string = "It's mind-blowing to me that this film was evenxyz made."

# encode
tokenized_string = tokenizer.encode(sample_string)
print ('정수 인코딩 후의 문장 {}'.format(tokenized_string))

정수 인코딩 후의 문장 [137, 8051, 8, 910, 8057, 2169, 36, 7, 103, 13, 14, 32, 18, 7974, 8132, 8133, 997, 681, 8058]

In [21]:
# encoding한 문장을 다시 decode
original_string = tokenizer.decode(tokenized_string)
print ('기존 문장: {}'.format(original_string))

기존 문장: It's mind-blowing to me that this film was evenxyz made.

In [22]:
assert original_string == sample_string

In [23]:
for ts in tokenized_string:
  print ('{} ----> {}'.format(ts, tokenizer.decode([ts])))

137 ----> It
8051 ----> '
8 ----> s
910 ----> mind
8057 ----> -
2169 ----> blow
36 ----> ing
7 ----> to
103 ----> me
13 ----> that
14 ----> this
32 ----> film
18 ----> was
7974 ----> even
8132 ----> x
8133 ----> y
997 ----> z
681 ----> made
8058 ----> .

evenxyz에서 even을 독립적으로 분리하고 xyz는 훈련 데이터에서 하나의 단어로서 등장한 적이 없으므로 각각 전부 분리됩니다.

---
### **2. 네이버 영화 리뷰 토큰화하기**

네이버 영화 리뷰에 대해서도 위에서 IMDB 영화 리뷰에 대해서 수행한 동일한 작업을 진행해봅시다.

In [24]:
import urllib.request

urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt", filename="ratings_train.txt")
urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt", filename="ratings_test.txt")

('ratings_test.txt', <http.client.HTTPMessage at 0x1f16e3e8520>)

다운로드한 데이터를 데이터프레임에 저장합니다.

In [25]:
train_data = pd.read_table('ratings_train.txt')
test_data = pd.read_table('ratings_test.txt')

In [26]:
train_data

              id                                           document  label
0        9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1        3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
...          ...                                                ...    ...
149995   6222902                                인간이 문제지.. 소는 뭔죄인가..      0
149996   8549745                                      평점이 너무 낮아서...      1
149997   9311800                    이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?      0
149998   2376369                        청춘 영화의 최고봉.방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[150000 rows x 3 columns]

In [27]:
test_data

            id                                           document  label
0      6270596                                                굳 ㅋ      1
1      9274899                               GDNTOPCLASSINTHECLUB      0
2      8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4      6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0
...        ...                                                ...    ...
49995  4608761          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  5308387       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO      0
49997  9072549                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다      0
49998  5802125     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네      0
49999  6070594                                         마무리는 또 왜이래      0

[50000 rows x 3 columns]

이 데이터에는 Null 값이 존재하므로 이를 제거해줍니다.

In [28]:
train_data.isnull().value_counts()

id     document  label
False  False     False    149995
       True      False         5
Name: count, dtype: int64

In [29]:
print(train_data.isnull().values.any())

True

In [30]:
print(train_data.isnull().sum())

id          0
document    5
label       0
dtype: int64

In [31]:
train_data = train_data.dropna(how = 'any') # Null 값이 존재하는 행 제거
print(train_data.isnull().values.any()) # Null 값이 존재하는지 확인

False

tfds.features.text.SubwordTextEncoder.build_from_corpus의 인자로 네이버 영화 리뷰 데이터를 넣어서, 서브워드들로 이루어진 단어 집합(Vocabulary)를 생성하고, 각 서브워드에 고유한 정수를 부여합니다.

The vocabulary is "trained" on a corpus and all wordpieces are stored in a vocabulary file. To generate a vocabulary from a corpus, use tfds.features.text.SubwordTextEncoder.build_from_corpus.

In [32]:
### 
tokenizer = tfds.deprecated.text.SubwordTextEncoder.build_from_corpus(
    train_data['document'], target_vocab_size=2**13)

In [33]:
%%time
### 
tokenizer = tfds.features.text.SubwordTextEncoder.build_from_corpus(
    train_data['document'], target_vocab_size=2**13)

AttributeError: module 'tensorflow_datasets.core.features' has no attribute 'text'

토큰화 된 100개의 서브워드들을 출력해봅시다.

In [34]:
print(tokenizer.subwords[:100])

['. ', '..', '영화', '이_', '...', '의_', '는_', '도_', '다', ', ', '을_', '고_', '은_', '가_', '에_', '.. ', '한_', '너무_', '정말_', '를_', '고', '게_', '영화_', '지', '... ', '진짜_', '이', '다_', '요', '만_', '? ', '과_', '나', '가', '서_', '지_', '로_', '으로_', '아', '어', '....', '음', '한', '수_', '와_', '도', '네', '그냥_', '나_', '더_', '왜_', '이런_', '면_', '기', '하고_', '보고_', '하는_', '서', '좀_', '리', '자', '스', '안', '! ', '에서_', '영화를_', '미', 'ㅋㅋ', '네요', '시', '주', '라', '는', '오', '없는_', '에', '해', '사', '!!', '영화는_', '마', '잘_', '수', '영화가_', '만', '본_', '로', '그_', '지만_', '대', '은', '비', '의', '일', '개', '있는_', '없다', '함', '구', '하']

encode()를 통해 임의로 선택한 20번 인덱스의 샘플을 출력해보고, 정수 인코딩을 수행한 결과와 비교해보겠습니다.

In [35]:
print(train_data['document'][20])

나름 심오한 뜻도 있는 듯. 그냥 학생이 선생과 놀아나는 영화는 절대 아님

In [36]:
print('Tokenized sample question: {}'.format(tokenizer.encode(train_data['document'][20])))

Tokenized sample question: [669, 4700, 17, 1749, 8, 96, 131, 1, 48, 2239, 4, 7466, 32, 1274, 2655, 7, 80, 749, 1254]

21번 인덱스 샘플에 대해서 정수 인코딩 결과를 확인하고, 이를 다시 역으로 디코딩해보겠습니다. 디코딩 할 때는 인코딩할 때 encode()를 사용한 것과 유사하게 decode()를 통해서 할 수 있습니다.

In [37]:
sample_string = train_data['document'][21]

# encode
tokenized_string = tokenizer.encode(sample_string)
print ('정수 인코딩 후의 문장 {}'.format(tokenized_string))

# encoding한 문장을 다시 decode
original_string = tokenizer.decode(tokenized_string)
print ('기존 문장: {}'.format(original_string))

assert original_string == sample_string

정수 인코딩 후의 문장 [570, 892, 36, 584, 159, 7091, 201]
기존 문장: 보면서 웃지 않는 건 불가능하다

In [38]:
for ts in tokenized_string:
  print ('{} ----> {}'.format(ts, tokenizer.decode([ts])))

570 ----> 보면서
892 ----> 웃
36 ----> 지
584 ----> 않는
159 ----> 건
7091 ----> 불가능
201 ----> 하다

In [39]:
sample_string = '이 영화 굉장히 재밌다 킄핫핫ㅎ'

# encode
tokenized_string = tokenizer.encode(sample_string)
print ('정수 인코딩 후의 문장 {}'.format(tokenized_string))

# encoding한 문장을 다시 decode
original_string = tokenizer.decode(tokenized_string)
print ('기존 문장: {}'.format(original_string))

assert original_string == sample_string

정수 인코딩 후의 문장 [4, 23, 1364, 2157, 8235, 8128, 8130, 8235, 8147, 8169, 8235, 8147, 8169, 393]
기존 문장: 이 영화 굉장히 재밌다 킄핫핫ㅎ

In [40]:
for ts in tokenized_string:
  print ('{} ----> {}'.format(ts, tokenizer.decode([ts])))

4 ----> 이
23 ----> 영화
1364 ----> 굉장히
2157 ----> 재밌다
8235 ----> �
8128 ----> �
8130 ----> �
8235 ----> �
8147 ----> �
8169 ----> �
8235 ----> �
8147 ----> �
8169 ----> �
393 ----> ㅎ